<div>
  <div class="grid grid-cols-2 gap-5">
    <button class="p-4 rounded bg-white shadow-md hover:bg-sky-300" (click)="showTemplate(sampleEnum.grouped)"
            [class.text-white]="sampleShown===sampleEnum.grouped"
            [class.bg-sky-200]="sampleShown===sampleEnum.grouped">
      Polar chart grouped
    </button>
    <button class="p-4 rounded bg-white shadow-md hover:bg-sky-300" (click)="showTemplate(sampleEnum.stacked)"
            [class.text-white]="sampleShown===sampleEnum.stacked"
            [class.bg-sky-200]="sampleShown===sampleEnum.stacked">
      Polar chart stacked
    </button>
  </div>
</div>

<button class="p-4 rounded font-light shadow-md hover:bg-indigo-100" (click)="click()">Generate new data set</button>

<ng-container [ngTemplateOutlet]="groupContent" *ngIf="sampleShown===sampleEnum.grouped"></ng-container>
<ng-container [ngTemplateOutlet]="stackContent" *ngIf="sampleShown===sampleEnum.stacked"></ng-container>

<ng-template #groupContent>
  <div class="shadow-xl border border-gray-100 font-light p-8 rounded text-gray-500 bg-white mt-6">
    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>single group</b>) <b>grouped by date</b> of current month. Turn off highlight</p>
        <ngx-polar-chart-group [chartData]="date1GroupDataSet" [chartSettings]="customSettings"></ngx-polar-chart-group>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>single group</b>) <b>grouped by date</b> of current month. Default settings</p>
        <ng-container [ngTemplateOutlet]="settingsDays"></ng-container>
        <ngx-polar-chart-group [chartData]="date1GroupDataSet"></ngx-polar-chart-group>
      </div>
    </div>

    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by date</b> of current month. Turn off highlight</p>
        <ngx-polar-chart-group [chartData]="date2GroupsDataSet" [chartSettings]="customSettings"></ngx-polar-chart-group>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by date</b> of current month. Default settings</p>
        <ng-container [ngTemplateOutlet]="settingsDays"></ng-container>
        <ngx-polar-chart-group [chartData]="date2GroupsDataSet"></ngx-polar-chart-group>
      </div>
    </div>

    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by month</b> of current year. Turn off highlight</p>
        <ngx-polar-chart-group [chartData]="date2GroupsDataSetByMonth" [chartSettings]="customSettings"></ngx-polar-chart-group>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by month</b> of current year. Default settings</p>
        <ng-container [ngTemplateOutlet]="settings"></ng-container>
        <ngx-polar-chart-group [chartData]="date2GroupsDataSetByMonth"></ngx-polar-chart-group>
      </div>
    </div>

    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by year</b>. Turn off highlight</p>
        <ngx-polar-chart-group [chartData]="date2GroupsDataSetByYear" [chartSettings]="customSettings"></ngx-polar-chart-group>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by year</b>. Default settings</p>
        <ng-container [ngTemplateOutlet]="settings"></ng-container>
        <ngx-polar-chart-group [chartData]="date2GroupsDataSetByYear"></ngx-polar-chart-group>
      </div>
    </div>

    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>single group</b>) <b>grouped by series</b> (e.g. [P-1...P-45]). Turn off highlight</p>
        <ngx-polar-chart-group [chartData]="series1GroupDataSet" [chartSettings]="customSettings"></ngx-polar-chart-group>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>single group</b>) <b>grouped by series</b> (e.g. [P-1...P-45]). Default settings</p>
        <ng-container [ngTemplateOutlet]="settings"></ng-container>
        <ngx-polar-chart-group [chartData]="series1GroupDataSet"></ngx-polar-chart-group>
      </div>
    </div>

    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by series</b> (e.g. [P-1...P-45]). Turn off highlight</p>
        <ngx-polar-chart-group [chartData]="series2GroupsDataSet" [chartSettings]="customSettings"></ngx-polar-chart-group>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>grouped by series</b> (e.g. [P-1...P-45]). Default settings</p>
        <ng-container [ngTemplateOutlet]="settingsDays"></ng-container>
        <ngx-polar-chart-group [chartData]="series2GroupsDataSet"></ngx-polar-chart-group>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #stackContent>
  <div class="shadow-xl border border-gray-100 font-light p-8 rounded text-gray-500 bg-white mt-6">
    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>three groups</b>) <b>stacked by date</b> of current month. Default settings</p>
        <ngx-polar-chart-stack [chartData]="date3GroupsDataSet"></ngx-polar-chart-stack>
      </div>

      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>stacked by month</b> of current year. Default settings</p>
        <ngx-polar-chart-stack [chartData]="date2GroupsDataSetByMonth"></ngx-polar-chart-stack>
      </div>
    </div>

    <div class="container">
      <div class="sample-container">
        <p>Polar chart (<b>two groups</b>) <b>stacked by series</b> (e.g. [P-1...P-45]). Default settings</p>
        <ngx-polar-chart-stack [chartData]="series2GroupsDataSet"></ngx-polar-chart-stack>
      </div>
      <div class="sample-container"></div>
    </div>
  </div>
</ng-template>


<ng-template #settingsDays>
  <label>Highlight: less average <span class="dot" style="background-color: #30983dd6"></span>, weekends <span class="dot" style="background-color: #80ddc8"></span>, maximum <span class="dot" style="background-color: #983036 "></span></label>
</ng-template>

<ng-template #settings>
  <label>Highlight: less average <span class="dot" style="background-color: #30983dd6"></span>, maximum <span class="dot" style="background-color: #983036 "></span></label>
</ng-template>
